@import "../../assets/sass/variables";

.title__container {
  color: $color-grey-medium;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
  text-align: center;
  h1 {
    padding-bottom: 2rem;
  }
}
