.main {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
   /* transition: all .4s ease-in-out;*/
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.1);
    box-shadow: 2px  8px 20px rgba(0,0,0,.1);
  }
}
.generator-page {
  width: 95%;
  height: 95%;
}
