@import "./variables";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100vh;
}

body {
  text-transform: capitalize;
  height: 100%;
  font-size: 1.6rem;
  background-image: linear-gradient(to bottom right, #1d2930, #3a3f40);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font-primary;
  font-weight: 400;
  color: $color-white;
}

#root {
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #838383;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

a {
  text-decoration: none;
  list-style: none;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
}

h1 {
  font-weight: 400;
}

h3 {
  margin: 1rem 0;
  font-weight: 400;
  font-family: $font-roboto;
  text-transform: capitalize;
  color: $color-grey-light;
}

.bg-light-grey {
  font-weight: normal;
  color: #dbdbdb;
  background-color: #767c7c !important;
}
.bg-dark-red {
  font-weight: normal;
  color: #dbdbdb;
  background-color: #ac4f4f !important;
}
.color-dark-red {
  font-size: 2rem;
  color: #de4747 !important;
  transition: color .3s;
}
.color-dark-red:hover {
  color: #e32a2a !important;
}

.mb-medium {
  margin-bottom: 2rem;
}
i:hover {
  cursor: pointer;
}
